<div class="container" style="margin: 50px;">
        <div class="input-group margin-bottom-sm">
                <span class="input-group-addon">
                        <i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control" type="text" placeholder="Email address">
        </div>
        <br>
        <div class="input-group">
                <span class="input-group-addon">
                        <i class="fa fa-key fa-fw"></i>
                </span>
                <input class="form-control" type="password" placeholder="Password">
        </div>
        <br>
        <div class="input-group">
                <a class="btn btn-primary" href="#">
                        <i class="fa fa-user fa-fw"></i> User</a>
        </div>
</div>